body {
  background: darkslategrey;
}

h1 {
  text-align: center;
  color: lightblue;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

.siteTitle {
  margin-top: 70px;
}

.set-by-country {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  height: 40px;
  width: 150px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkslategray;
  border-radius: 1px;
}

.dropdowns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 50px auto;
  .FirstCurrencySelector {
    min-width: 200px;
    margin-bottom: 20px;
  }
  .SecondCurrencySelector {
    min-width: 200px;
  }
}

.result {
  text-align: center;
}